node_modules/
Thumbs.db
npm-debug.log
*.log
build/
plugins/*/dist/
test/test-results/
test/playwright-report/
test/tests/screenshots/new/
test/tests/logs/
test/tests-plugins/screenshots/new/
test/tests-plugins/logs/
test/results.html
test/results-plugins.html
test/session.html
test/session*.html
deploy.bat
dellssh.bat