title = "input"
category = "keyboard"
isScreen = true
summary = """
Shows a prompt on screen and allows a user type in a string. The prompt is ended when the user\r
presses the return key. There are two ways to get the data returned. The function returns a\r
promise that will pass the response data. You can also pass a callback function which will get\r
called when the enter key is pressed."""
description = ""
example = """
$.screen( "300x200" );\r
askQuestions();\r
async function askQuestions() {\r
\tvar name = await $.input( "What is your name? " );\r
\tvar age = await $.input( "How old are you? ", null, true, true, false, "always" );\r
\t$.print( "Your name is " + name + " you are " + age + " years old." );\r
}\r
"""

[[parameters]]
name = "prompt"
type = "any"
description = "The text that will display when the user is entering text."
optional = true

[[parameters]]
name = "callback"
type = "any"
description = "A function you can pass which will get called when the user presses the return key."
optional = true

[[parameters]]
name = "isNumber"
type = "any"
description = "Limit the data to numeric data only."
optional = true

[[parameters]]
name = "isInteger"
type = "any"
description = "Limit the data to integer values only."
optional = true

[[parameters]]
name = "allowNegative"
type = "any"
description = "A boolean that indicates if negative numbers are allowed."
optional = true

[[parameters]]
name = "onscreenKeyboard"
type = "any"
description = 'A string value that can specify an onscreen keyboard valid values include: "auto", "always", "none".'
optional = true

[[returns]]
type = "void"
description = "A promise that will return the users response."
