title = "offkey"
category = "keyboard"
isScreen = false
summary = "Removes an onkey event."
description = ""
example = """
$.screen( "300x200" );\r
$.print( "Press any key." );\r
$.print( "Press q to stop" );\r
$.onkey( "any", "down", keyPress );\r
$.onkey( "Q", "down", stopPress );\r
\r
// Key press function\r
function keyPress( key ) {\r
\t$.print( "You pressed " + key.key + "!" );\r
}\r
\r
// Stop key press function\r
function stopPress() {\r
\t$.print( "You pressed Q! Stopping." );\r
\t$.offkey( "any", "down", keyPress );\r
\t$.offkey( "Q", "down", keyPress );\r
}\r
"""

[[parameters]]
name = "key"
type = "any"
description = "The key that was used in the onkey command."

[[parameters]]
name = "mode"
type = "any"
description = "The mode can be up or down."

[[parameters]]
name = "fn"
type = "any"
description = "The function that was used to create the hitbox by the onclick command."

[[returns]]
type = "void"
description = "This function does not return a value."
