title = "offpress"
category = "mouse,touch"
isScreen = true
summary = "Removes an onpress event."
description = ""
example = """
$.screen( "300x200" );\r
$.print( "Move mouse or touch to paint screen, click/touch up to stop." );\r
$.onpress( "move", pressMove );\r
$.onpress( "up", pressStop, true );\r
\r
// Press move function\r
function pressMove( data ) {\r
\t$.setPosPx( data.x, data.y );\r
\tvar pos = $.getPos();\r
\t$.setPos( pos.col, pos.row );\r
\t$.setColor( 8 );\r
\t$.print( "+", true );\r
}\r
\r
// Press stop function\r
function pressStop() {\r
\t$.setColor( 14 );\r
\tvar pos = $.getPos();\r
\t$.setPos( pos.col - 4, pos.row );\r
\t$.print( "Stopped!", true );\r
\t$.offpress( "move", pressMove );\r
}\r
"""

[[parameters]]
name = "mode"
type = "any"
description = "The mode must be a string and can be up, down, or move."

[[parameters]]
name = "fn"
type = "any"
description = "The function that was used to create the hitbox by the onpress command."

[[returns]]
type = "void"
description = "This function does not return a value."
