title = "onclick"
category = "mouse"
isScreen = true
summary = """
Creates an area on the screen that when the user clicks in that area a function is called. In order for a click event to trigger the user must move the mouse cursor over the hitbox area and\r
mouse down and mouse up over that area."""
description = ""
example = """
$.screen( "300x200" );\r
var hitBox = {\r
\t"x": 25,\r
\t"y": 25,\r
\t"width": 100,\r
\t"height": 100\r
};\r
\r
// Draw a green box\r
$.setColor( 2 );\r
$.rect( hitBox );\r
\r
// Setup the onclick function for the hitBox\r
$.onclick( clickBox, true, hitBox );\r
\r
// Click function\r
function clickBox() {\r
\r
\t// Draw a red box\r
\t$.setColor( 4 );\r
\t$.rect( hitBox );\r
\r
\t// Wait a second then clear the box\r
\tsetTimeout( function () {\r
\t\t$.setColor( 0 );\r
\t\t$.rect( hitBox );\r
\t}, 1000 );\r
}\r
"""

[[parameters]]
name = "fn"
type = "any"
description = "The function that gets called when the area is clicked."

[[parameters]]
name = "once"
type = "any"
description = "Boolean if set to true the event will be deleted after it is clicked."

[[parameters]]
name = "hitBox"
type = "any"
description = ". The hitBox area for where the click event will occur. { x, y, width, height }."
optional = true

[[parameters]]
name = "customData"
type = "any"
description = ". This can be used to assign data that will be passed into the callback event. This is useful if you have multiple onclick commands that use the same callback function."
optional = true

[[returns]]
type = "void"
description = "This function does not return a value."
