title = "onkey"
category = "keyboard"
isScreen = false
summary = "Creates an onkey event."
description = ""
example = """
$.screen( "300x200" );\r
$.print( "Press any key." );\r
$.print( "Press q to stop" );\r
$.onkey( "any", "down", keyPress );\r
$.onkey( "Q", "down", stopPress, true );\r
\r
// Key press function\r
function keyPress( key ) {\r
\t$.print( "You pressed " + key.key + "!" );\r
}\r
\r
// Stop key press function\r
function stopPress() {\r
\t$.print( "You pressed Q! Stopping." );\r
\t$.offkey( "any", "down", keyPress );\r
}\r
"""

[[parameters]]
name = "key"
type = "any"
description = "A string, ascii value, or array of keys to register for an event."

[[parameters]]
name = "mode"
type = "any"
description = "The mode can be up or down. The mode must be down if using an array for key combination"

[[parameters]]
name = "fn"
type = "any"
description = "The function that was used to create the hitbox by the onclick command."

[[parameters]]
name = "once"
type = "any"
description = ". Boolean if true will delete event after the first time it is triggered."
optional = true

[[returns]]
type = "void"
description = "This function does not return a value."
