title = "onmouse"
category = "mouse"
isScreen = true
summary = "Creates a onmouse event."
description = ""
example = """
$.screen( "300x200" );\r
$.print( "Move mouse to paint screen, click to stop." );\r
$.onmouse( "move", mouseMove );\r
$.onmouse( "up", mouseStop, true );\r
\r
// Mouse move function\r
function mouseMove( data ) {\r
\t$.setPosPx( data.x, data.y );\r
\tvar pos = $.getPos();\r
\t$.setPos( pos.col, pos.row );\r
\t$.setColor( 8 );\r
\t$.print( "+", true );\r
}\r
\r
// Mouse stop function\r
function mouseStop() {\r
\t$.setColor( 14 );\r
\tvar pos = $.getPos();\r
\t$.setPos( pos.col - 4, pos.row );\r
\t$.print( "Stopped!", true );\r
\t$.offmouse( "move", mouseMove );\r
}\r
"""

[[parameters]]
name = "mode"
type = "any"
description = "The mode must be a string and can be up, down, or move."

[[parameters]]
name = "fn"
type = "any"
description = "The function to callback when the event occurs."

[[parameters]]
name = "once"
type = "any"
description = ". A boolean if true deletes the event after being called one time."
optional = true

[[parameters]]
name = "hitBox"
type = "any"
description = ". A hitBox to restrict events occuring outside the box"
optional = true

[[parameters]]
name = "customData"
type = "any"
description = ". This can be used to assign data that will be passed into the callback event. This is useful if you have multiple onmouse commands that use the same callback function."
optional = true

[[returns]]
type = "void"
description = "This function does not return a value."
