title = "sound"
category = "sound"
isScreen = false
summary = "Plays a sound by frequency using Web Audio API."
description = """
Generates and plays a sound at a specific frequency using Web Audio API oscillators. Supports
standard waveforms (triangle, sine, square, sawtooth) or custom wavetables.

The sound uses an ADSR envelope (attack, sustain, decay) for natural sound shaping.
"""
example = """
const data = [
  392, 8, "My ", 659, 8, "Bon-", 587, 8, "nie ", 523, 8, "lies ", 587, 8,
  "o-", 523, 8, "ver ", 440, 8, "the ", 392, 8, "o-", 330, 32, "cean\\n",
  392, 8, "My ", 659, 8, "Bon-", 587, 8, "nie ", 523, 8, "lies ", 523, 8,
  "o-", 494, 8, "ver ", 523, 8, "the ", 587, 40, "sea\\n", 392, 8, "My ",
  659, 8, "Bon-", 587, 8, "nie", 523, 8, " lies ", 587, 8, "o-", 523, 8,
  "ver ", 440, 8, "the ", 392, 8, "o-", 330, 32, "cean\\n", 392, 8, "Oh ",
  440, 8, "bring ", 587, 8, "back ", 523, 8, "my ", 494, 8, "Bon-", 440,
  8, "nie ", 494, 8, "to ", 523, 32, "me"
];
const printTimeouts = [];
const volume = 0.15;

let totalDuration = 0;
let attackRate = 0.01;
let decayRate = 0.1;
let sustainRate = 0.89;
$.screen( "300x200" );
for( let i = 0; i < data.length; i += 3 ) {
	const freq = data[ i ];
	const duration = data[ i + 1 ] / 18.2;
	const sustain = duration * sustainRate;
	const attack = duration * attackRate;
	const decay = duration * decayRate;
	const word = data[ i + 2 ];
	$.sound( freq, sustain, volume, "sawtooth", totalDuration, attack, decay );
	printWord( word, totalDuration );
	totalDuration += duration;
}

function printWord( word, delay ) {
	printTimeouts.push( setTimeout( function () {
		$.print( word, word.indexOf( "\\n" ) === -1 );
	}, delay * 1000 ) );
}
"""

[[parameters]]
name = "frequency"
type = "any"
description = "The sound frequency."

[[parameters]]
name = "duration"
type = "any"
description = "How long to play the sound."

[[parameters]]
name = "volume"
type = "any"
description = "The volume of the sound."
optional = true

[[parameters]]
name = "oType"
type = "any"
description = "The type of oscillator to use for the sound ie: (sawtooth, sine, square, triangle)."
optional = true

[[parameters]]
name = "delay"
type = "any"
description = "A pause before the sound plays."
optional = true

[[parameters]]
name = "attack"
type = "any"
description = "How long to ramp up to the full volume, prevents clicking sound."
optional = true

[[parameters]]
name = "decay"
type = "any"
description = "How long to ramp down to 0 volume, prevents clicking sound."
optional = true

[[returns]]
type = "void"
description = "This function does not return a value."
