title = "sound"
category = "sound"
isScreen = false
summary = """
Plays a sound based on a frequency and duration. Sounds will only play as the \r
results of an event from the user, so any attempt to play a sound on page \r
load will not work. If attack + delay is greater than 1 then there may be a \r
clicking sound."""
description = ""
example = """
var data = [\r
  392, 8, "My ", 659, 8, "Bon-", 587, 8, "nie ", 523, 8, "lies ", 587, 8,\r
  "o-", 523, 8, "ver ", 440, 8, "the ", 392, 8, "o-", 330, 32, "cean\\n",\r
  392, 8, "My ", 659, 8, "Bon-", 587, 8, "nie ", 523, 8, "lies ", 523, 8,\r
  "o-", 494, 8, "ver ", 523, 8, "the ", 587, 40, "sea\\n", 392, 8, "My ",\r
  659, 8, "Bon-", 587, 8, "nie", 523, 8, " lies ", 587, 8, "o-", 523, 8,\r
  "ver ", 440, 8, "the ", 392, 8, "o-", 330, 32, "cean\\n", 392, 8, "Oh ",\r
  440, 8, "bring ", 587, 8, "back ", 523, 8, "my ", 494, 8, "Bon-", 440,\r
  8, "nie ", 494, 8, "to ", 523, 32, "me"\r
];\r
var i;\r
var totalDuration = 0;\r
var volume = 0.15;\r
var attackRate = 0.01;\r
var decayRate = 0.1;\r
var sustainRate = 0.89;\r
var printTimeouts = [];\r
\r
$.screen( "300x200" );\r
for( i = 0; i < data.length; i += 3 ) {\r
  var freq = data[ i ];\r
  var duration = data[ i + 1 ] / 18.2;\r
  var sustain = duration * sustainRate;\r
  var attack = duration * attackRate;\r
  var decay = duration * decayRate;\r
  var word = data[ i + 2 ];\r
  $.sound(\r
    freq, sustain, volume, "sawtooth", totalDuration, attack, decay\r
  );\r
  printWord( word, totalDuration );\r
  totalDuration += duration;\r
}\r
\r
function printWord( word, delay ) {\r
\tprintTimeouts.push( setTimeout( function () {\r
\t\t$.print( word, word.indexOf( "\\n" ) === -1 );\r
\t}, delay * 1000 ) );\r
}\r
"""

[[parameters]]
name = "frequency"
type = "any"
description = "The sound frequency."

[[parameters]]
name = "duration"
type = "any"
description = "How long to play the sound."

[[parameters]]
name = "volume"
type = "any"
description = "The volume of the sound."
optional = true

[[parameters]]
name = "oType"
type = "any"
description = "The type of oscillator to use for the sound ie: (sawtooth, sine, square, triangle)."
optional = true

[[parameters]]
name = "delay"
type = "any"
description = "A pause before the sound plays."
optional = true

[[parameters]]
name = "attack"
type = "any"
description = "How long to ramp up to the full volume, prevents clicking sound."
optional = true

[[parameters]]
name = "decay"
type = "any"
description = "How long to ramp down to 0 volume, prevents clicking sound."
optional = true

[[returns]]
type = "void"
description = "This function does not return a value."
